<% if obj.errors.any?  %>
  <div class="alert alert-danger">
    <h2>
      The following errors prevented article from getting generated</h2>
    <ul>
      <% obj.errors.full_messages.each do |msg| %>
        <li>
          <%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
