<div class = "jumbotron center text-align-center jumbo-background">
		<div class = "title"> 
		<h1 class = "larger"> Come Join Alpha Blog </h1>
		<%# <h4 class = "muted"> Where truth reveals itself</h4> %>
		</div>
		
		<%= link_to 'Sign up', signup_path, class: "btn btn-primary btn-lg" %>
</div>
