<html>
<head>
  <title>Home page</title>
</head>
<body style = "background-color: powder-blue">
  <h1> Hello this is home page</h1>
 	<%= link_to 'alpha blog', articles_path %> |<%= link_to 'About', about_path %>
</body>
</html>
