@import "bootstrap";

body,
html {
	height: 100% !important;
}

nav {
	flex: 0 1 auto;
}
.messages{
	margin-bottom: 10px;
}
.navbar-custom {
	background-color: #4F32EB !important;
}

.card {
	margin-top: 30px !important;
	border: 1px solid #cacaca;
}
.logo {
	float: left;
	font-size: 37px;
	text-transform: uppercase;
	color: #fff !important;
}

.nav-link {
	color: #fff !important;
}
.article-actions{
	border-top: 1px solid #dbdbdb;
	padding-top: 10px;
}

.btn{
	margin: 5px;
}
.center {
	text-align: center;
}
.description{
	margin-bottom: 30px;
	// margin-top: 20px;
}

.jumbo-background {
	padding-top: 200px;
	background-image: asset-url('background.png');
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	flex: 1 1 auto;
	 height: 1000px;
}
.jumbotron h1 {
	color: #fff;
	text-align: center;
	margin-bottom: 30px;
	letter-spacing: -1px;
	font-weight: bold;
}
.card{
}
.btn-primary {
	background-color: #4F32EB;
}
.btn-primary:hover{
	background-color: #4B25DF;
}
#page-content {
	flex: 1 0 auto;
}

#sticky-footer {
	flex-shrink: none;
}

.sticky-footer {
	margin-top: 45px;
	padding-top: 5px;
	border: 1px solid #eaeaea;
	color: #777;
	flex: 0 1 auto;
}

footer small {
	float: left;
}

footer ul {
	list-style-type: none;
	float: right;
	margin-left: 40px;
	margin-right: 20px;
}
